@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;900&display=swap');

:root {
  --black: black;
  --white: white;
  --light-gray: #dedede;
  --medium-gray: #939393;
  --dark-gray: #535353;
  --light-black: rgb(29,29,31);
  --light-green: #6f8883;
  --dark-green: #233000;
}

html, body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
}

body {
  overflow-x: hidden;
  color: white;
  letter-spacing: -0.05em;
  background: var(--black);
}
p {
  line-height: 1.6em;
}
a {
  color: inherit;
  text-decoration: none;
}

body.before-load {
	overflow: hidden;
}
.container {
  visibility: visible;
  /* iPhone에서 가로 스크롤 방지 */
  overflow-x: hidden;
}

/* Loading Circle */
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: var(--black);
  opacity: 0;
  transition: opacity 0.5s;
}
.before-load .container {
  display: none;
  visibility: hidden;
}
.before-load .loading {
  opacity: 1;
}
@keyframes loadingSpin {
  100% { transform: rotate(360deg) }
}
@keyframes loadingCircleAni {
  0% { stroke-dashoffset: 157; }
  80% { stroke-dashoffset: -147; }
  100% { stroke-dashoffset: -157; }
}
.loading-circle {
  width: 54px;
  height: 54px;
  animation: loadingSpin 2.5s infinite linear;
}
.loading-circle circle {
  stroke: var(--light-gray);
  stroke-width: 4;
  /* getTotalLength()로 얻어놀 수 있음 */
  stroke-dasharray: 157;
  stroke-dashoffset: 0;
  fill: none;
  animation: loadingCircleAni 1.5s infinite ease-in-out;
}

/* Global Nav */
.global-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 44px;
  padding: 0 1rem;
  z-index: 10; /* more than canvas */
}
.local-nav {
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  height: 52px;
  padding: 0 1rem;
  border-bottom: 1px solid var(--dark-gray);
  z-index: 11; /* more than canvas, global-nav */
}
.local-nav-sticky .local-nav {
  position: fixed;
  top: 0;
  background: rgba(29,29,31,0.1);
  
  -webkit-backdrop-filter: saturate(180%) blur(15px);
	-moz-backdrop-filter: saturate(180%) blur(15px);
	-o-backdrop-filter: saturate(180%) blur(15px);
	backdrop-filter: saturate(180%) blur(15px);
}

.global-nav-links,
.local-nav-links {
  display: flex;
  align-items: center;
  max-width: 1024px;
  height: 100%;
  margin: 0 auto;
}
.global-nav-links {
  justify-content: space-between;
}
.global-nav-item,
.local-nav-links a {
  text-transform: capitalize;
}

.product-name {
  margin-right: auto;
  font-size: 1.4rem;
  font-weight: bold;
}
.local-nav-links a:not(.product-name) {
  margin-left: 2em;
  font-size: 0.8rem;
  letter-spacing: 0;
}

/* Body Content */
.scroll-section {
  position: relative;
  padding-top: 50vh;
}
/* #0 */
#section-0 h1 {
  position: relative;
  top: -7vh;
  font-size: 4rem;
  text-align: center;
  z-index: 9;
}

.main-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
  top: 45vh;
  font-size: 2.5rem;
  opacity: 0;
  z-index: 8;
}
.main-message p {
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
}
.main-message small {
  display: block;
  margin-bottom: 0.5em;
  font-size: 1.1rem;
}

/* #1 */
.scroll-section#section-1 {
  padding: 7vh 0.5rem;
}
.desc {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 1.2rem;
  color: var(--medium-gray);
}
.desc strong {
  float: left;
  margin-right: 0.6em;
  margin-bottom: 0.6em;
  font-size: 3rem;
  line-height: 1.05em;
  color: var(--light-gray);
}
.desc-message {
  width: 50%;
  font-weight: bold;
  opacity: 0;
  z-index: 8; /* canvas z-index: 5*/
}
.pin {
  width: 1px;
  height: 100px;
  background-color: var(--light-gray);
}

/* #2 */
#section-2 .main-message {
  font-size: 3.5rem;
}
#section-2 .b {
  top: 20%;
  left: 30%;
}
#section-2 .c {
  top: 25%;
  left: 42%;
}

/* #3 */
.mid-message {
  max-width: 1024px;
  margin: 0 auto 100px;
  padding: 0 1rem;
  font-size: 2rem;
  font-weight: bold;
  color: var(--dark-gray);
}
.mid-message strong {
  display: block;
  color: var(--light-gray);
}
.canvas-caption {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 1rem;
  color: #888;
  font-size: 1.2rem;
}

.sticky-elem {
  display: none;
  position: fixed;
  left: 0;
  width: 100%;
}
#scene-0 #section-0 .sticky-elem,
#scene-1 #section-1 .sticky-elem,
#scene-2 #section-2 .sticky-elem,
#scene-3 #section-3 .sticky-elem {
  display: block;
  will-change: transform, opacity;
}
#section-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scroll-effect-end .sticky-elem {
  display: none !important;
}

/* Canvas */
#scene-0 #section-0 .sticky-canvas,
#scene-2 #section-2 .sticky-canvas {
  opacity: 1;
}
.sticky-canvas {
  top: 0;
  height: 100%;
  z-index: 5; /* navs: 10-11, messages: 8-9 */
}
.sticky-canvas canvas {
  position: absolute;
  top: 50%;
  left: 50%;
}
.blend-canvas.sticky {
  position: fixed;
  top: 0; /* script에서 계산해서 넣기 - main.js */
  opacity: 1;
}

/* Bottom Content */
.pannel {
  padding: 5rem 2rem;
  text-align: center;
}
.inner {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}
.inner span {
  display: block;
}

.pannel-a {
  border-top: 1px solid var(--dark-gray);
  background: url('../src/img/last-large.jpg') no-repeat center / cover;
  font-weight: bold;
}
.pannel-a .large-text {
  font-size: 2rem;
}
.pannel-a .small-caption {
  margin-top: 2rem;
  color: var(--light-green);
  font-size: 1.2rem;
}

.pannel-b {
  background-color: var(--light-gray);
}
.pannel-b .inner {
  padding: 5rem 0;
  border-radius: 3rem;
  box-shadow: 0 2.5rem 50px -10px rgba(150,150,150,0.8);
  background-color: var(--white);
  background-image: url('../src/img/last-back.jpg');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 80% 100%;
  color: var(--black);
  font-weight: bold;
  line-height: 1.6;
}
.pannel-b .large-title {
  font-size: 2rem;
}
.pannel-b .medium-text {
  font-size: 1.2rem;
}

/* Bottom Links */
.bottom-links {
  padding: 2rem 1rem 5rem;
  background-color: var(--light-gray);
  color: var(--dark-gray);
}
.bottom-links:before {
  content: '';
  position: relative;
  top: -2rem;
  display: block;
  width: 100%;
  height: 0;
  border-top: 1px solid var(--medium-gray);
}
.links-items {
  max-width: 1024px;
  margin: 1.5rem 0;
}
.links-items a {
  padding: 0 0.7em;
  text-transform: capitalize;
  font-size: 0.9rem;
  line-height: 2;
}
.links-category {
  padding: 1em 0.5em;
  font-size: 1rem;
  font-weight: bold;
}

/* Footer */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  height: 10rem;
  padding: 2rem 0.5rem;
  background-color: var(--dark-green);
  color: var(--white);
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 1.6em;
}


@media (min-width: 1024px) {
  #section-0 h1 {
    font-size: 9vw;
  }
  .main-message {
    font-size: 4vw;
  }
  .desc {
    font-size: 2rem;
  }
  .desc strong {
    font-size: 6rem;
  }
  #section-2 .main-message {
    font-size: 6vw;
  }
  #section-2 .b {
    left: 53%;
  }
  #section-2 .c {
    left: 47%;
  }
  .main-message small {
    font-size: 1.5vw;
  }
  .desc-message {
    width: 20%;
  }
  .mid-message {
    font-size: 4vw;
  }
  .canvas-caption {
		font-size: 2rem;
  }

  .pannel {
    padding: 10rem 5rem;
  }
  .pannel-a .large-text {
    margin: 0 auto;
    font-size: 4vw;
  }
  .pannel-b .large-title {
    font-size: 4vw;
  }
  .pannel-a .small-caption,
  .pannel-b .medium-text {
    font-size: 1.5vw;
  }
  .pannel-b .inner {
    max-width: 800px;
    padding: 10rem 0;
    background-size: 40%;
    box-shadow: 0 2.5rem 100px -30px rgba(150,150,150,0.8);
    transition: 0.15s;
  }
  .pannel-b .inner:hover {
    box-shadow: 0 -1rem 50px -30px rgba(150,150,150,0.3);
    transform: translate3d(0, 0.5rem, 0) scale(0.98);
    -webkit-transform: translate3d(0, 0.5rem, 0)  scale(0.98);
    
  }

  .bottom-links {
    padding: 3rem 1rem;
  }
  .bottom-links:after {
    content: '';
    display: block;
    clear: both;
  }
  .links-items {
    float: left;
    width: 50%;
  }
  .links-items a {
    padding: 0 1em;
    font-size: 1rem;
  }
  .links-category {
    padding: 0.5em;
    font-size: 1.5rem;
  }

  .mo {
    display: none;
  }
}